<div class="container module">
	<div class="footer-icons">

		<a href="https://www.facebook.com/dave.melvin.7" target="_blank" class="social facebook">
			<i class="fa fa-facebook"></i>
		</a>
		<a href="http://davesrightmind.deviantart.com/" class="social deviantart" target="_blank">
			<i class="fa fa-deviantart  fa" aria-hidden="true"></i>
		</a>
		<a href="mailto:someone@example.com?Subject=Hello%20again" lass="social email" target="_top">
			<i class="fa fa-paper-plane  fa-2x" aria-hidden="true"></i>
		</a>
		<br />
		<a href="tel:555-555-5555">555-555-5555</a>
	</div>
	<p>
		Usage of contents and images are only permitted with written permission of their respective owners. Copyright © Davesrightmind, if not otherwise specified.
		&copy; <%= Time.now.year %> 
		<% link_to '/index.html', :relative => true do %>
		Davesrightmind
		<% end %>
	</p>
</div>
