<nav class="site-nav container" role="navigation">
  <% link_to '/index.html', :relative => true, class: 'navbar-brand' do %>
   Davesrightmind
  <% end %>

  <ul class="nav-links">
    <li><%= link_to 'Concept art','/' %>
      <ul></ul>
    </li>
    <li><i class="fa fa-angle-double-right"></i><%= link_to 'About', '/about.html', :relative => true %>
      <ul></ul>
    </li>
    <li><i class="fa fa-angle-double-right"></i><%= link_to 'Contact', '/contact.html', :relative => true %>
      <ul></ul>
    </li>
    <li><i class="fa fa-angle-double-right"></i><%= link_to 'Gallery', '/gallery.html', :relative => true %>
      <ul></ul>
    </li>
  </ul>

  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
