

/* Color Variables   this is the code http://codepen.io/jonmilner/pen/bfkKF */
$color-deviantart: #9eb1a3;
$color-codepen: #000;

$color-twitter: #2b97f1;
$color-dribbble: #ef5a92;
$color-instagram: #527fa6;
$color-linkedin: #006599;
$color-facebook: #3b5a9b;

/* Social Icon Mixin */
@mixin social-icon($color) {
  background: $color;
  background: linear-gradient(tint($color, 5%), shade($color, 5%));
  border-bottom: 1px solid shade($color, 20%);
  color: tint($color, 50%);

  &:hover {
    color: tint($color, 80%);
    text-shadow: 0px 1px 0px shade($color, 20%);
  }

  .tooltip {
    background: $color;
    background: linear-gradient(tint($color, 15%), $color);
    color: tint($color, 80%);

    &:after {
      border-top-color: $color;
    }
  }
}

/* Social Icons */
.social-icons {
  display: flex;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  transition: all 0.15s ease;

  &:hover {
    color: #fff;

    .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -150%);
    }
  }

  &:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  &--deviantart { @include social-icon($color-deviantart); }
  &--facebook { @include social-icon($color-facebook); }
  &--instagram { @include social-icon($color-instagram); }


  i {
    position: relative;
    top: 1px;
  }
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;

  &:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
}
// ------------------------------------------------------------
// Gallery lightbox
// ------------------------------------------------------------
/*Eliminates padding, centers the thumbnail */

a.lightbox img {
  height: 150px;
  width:150px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  margin: 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  background: rgba(0,0,0,.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  height: auto;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
  z-index: 99;
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
  z-index: 99;
}
// ------------------------------------------------------------
// Grid from refills http://refills.bourbon.io/
// ------------------------------------------------------------
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}
.grid-items {
    $action-color: #477DCA !default;
    $base-background-color: white !default;
    $medium-screen: 40em !default;
    $large-screen: 53.75em !default;
    $grid-items-background: $base-background-color;
    $grid-item-background: desaturate($action-color, 30%);
    $grid-item-colors:
    desaturate($action-color, 30%),
    #3581A5,
    #5FBEBE,
    #98C79A,
    #A7A891,
    #BDCC97,
    #979EA0;
    $grid-item-border-size: 9px;
    $grid-item-columns: 4;
    $grid-item-big-columns: 8;
    $grid-item-color: white;
    $grid-item-height: 14em;

    @include clearfix;

    .grid-item {
      background: $grid-item-background;
      border-bottom: 9px solid #1E1E1E;
      border-left: 4.5px solid #1E1E1E;
      border-right: 4.5px solid #1E1E1E;
      border-top: 0;
      cursor: pointer;
      float: left;
      height: $grid-item-height;
      outline: none;
      overflow: hidden;
      padding: 2em;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      width: 100%;

      @include media($large-screen) {
        @include grid-item-columns($grid-item-columns);
      }

  @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
    &:nth-child(#{$i}) {
      $background-from-list: nth($grid-item-colors, $i);
      background-color: $background-from-list;
      box-shadow: inset 0 0 1px 2px darken($background-from-list, 10%);

      &:focus,
      &:hover {
        background-color: darken($background-from-list, 20%);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  }
  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
  }
  // ------------------------------------------------------------
  // GALLERY FOR ILLUSTRATION
  // ------------------------------------------------------------
  .grid-item-image {
    background: url("../illustration/Alice-meets-the-King-of-the-Tulgey-Wood.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image1 {
    background: url("../illustration/Alice-meets-the-King-of-the-Tulgey-Wood.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image2 {
    background: url("../illustration/Bioluminescent-Sea-Hunter.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image3 {
    background: url("../illustration/Black-Lagoon.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image4 {
    background: url("../illustration/Blue-Hole-Beast.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image5 {
    background: url("../illustration/Cancerous-v2.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image6 {
    background: url("../illustration/Floating-Bony-Shrieker-4.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image7 {
    background: url("../illustration/Frank.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image8 {
    background: url("../illustration/Kelpy-2.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image9 {
    background: url("../illustration/Organic-Mech-.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image10 {
    background: url("../illustration/parasite.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image11 {
    background: url("../illustration/Radioactive-Dino.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image12 {
    background: url("../illustration/Regurgitator.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image13 {
    background: url("../illustration/Sonic-Winged-Murmuration.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image14 {
    background: url("../illustration/Tanker.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
   // ------------------------------------------------------------
  // GALLERY FOR CONCEPT ART
  // ------------------------------------------------------------
  .grid-item-image15 {
    background: url("../concept_art/Alien-Queen-Beyond-2.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image16 {
    background: url("../concept_art/Ankle_Biters2.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image17 {
    background: url("../concept_art/Colony-Matriarch-Color.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image18 {
    background: url("../concept_art/Death-Worm-Model-Sheet.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image19 {
    background: url("../concept_art/DirtyStatues.png");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image20 {
    background: url("../concept_art/Goblin-Gatling-May-2016.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image21 {
    background: url("../concept_art/Goblin-Gunslinger-Ortho-with-guns.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image22 {
    background: url("../concept_art/Hyenas-Beast-Master.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image23 {
    background: url("../concept_art/Infected-Scientist-2016.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image24 {
    background: url("../concept_art/Jug-Bug.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image25 {
    background: url("../concept_art/Lava-Spewer-4.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image26 {
    background: url("../concept_art/Metal-Jaw-2016-Color-2.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image27 {
    background: url("../concept_art/P_Allosaurus.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image28 {
    background: url("../concept_art/P_Ankylosaurus.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


