// ------------------------------------------------------------
// Section Contact page
// ------------------------------------------------------------

.contact_info {
	img {
		max-width: 100%;
		height: auto;
	}
	@include media($medium-screen) {
		@include outer-container;
		padding-bottom: 50px;
		padding-top: 50px;
		aside { @include span-columns(7); }
		article { @include span-columns(5); }
	}
}
// ------------------------------------------------------------
// Section About page
// ------------------------------------------------------------
.about_info {
	img {
		max-width: 100%;
		height: auto;
	}
	@include media($medium-screen) {
		@include outer-container;
		padding-bottom: 50px;
		padding-top: 50px;
		aside { @include span-columns(8);}
		blockquote {
			@include span-columns(4);
			margin-top: 0px;
		}
	}
}

// ------------------------------------------------------------
// Gallery page
// ------------------------------------------------------------
.pannel-hover {
  @include media($medium-screen) {
    @include outer-container;
    .ph-left {
      @include span-columns(6);
      h4 {font-size: 0.9em;}
      p {font-size: 0.3em;}
    }
    .ph-right {
      @include span-columns(6);
      h4 {font-size: 0.9em;}
      p {font-size: 0.3em;}
    }
  }
}
