
// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
  @include clearfix;

  @include media($medium-screen) {
    border-bottom:none;
  }
  background-color: $white-smoke;
}

.site-main {
 //@include section_padding(2em);
}

.site-footer {
  @include section_padding(1em);
  border-top: 1px solid #eee;
}

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
  color: #006699;
}

// ------------------------------------------------------------
// SLideSho on click http://codepen.io/leemark/pen/Ddgsx
// ------------------------------------------------------------
.hero-slideshow {
  img {
    width: 100%;
    height: auto;
  }
  position: relative;
  display: block;
  max-height: 600px;
  overflow: hidden;
  p {
    margin: 10px 20px;
    color: #fff;
  }
  a {
   color:#fff;
 }
}
figure {
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
//  The problem was being caused by fractional widths. For example using 100% width
// https://css-tricks.com/forums/topic/css3-transition-opacity-causing-glitch-in-images/
-webkit-transform: translateZ(0);
width: calc(100% + .49px);
}
figcaption {
  position: absolute;
  @include media($medium-screen) {
    font-family: sans-serif;
    font-size: .8em;
    bottom: .75em;
    right: .35em;
    padding: .25em;
    color: #fff;
    background: rgba(0,0,0, .25);
    border-radius: 2px; 
    a { color: #fff;}
  }
}

figure.show {
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover {
  cursor: pointer;
  opacity: 1;
}
.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

// ------------------------------------------------------------
// Section style
// ------------------------------------------------------------
// Enter Neat
section {
  @include media($medium-screen) {
    @include outer-container;
    aside { @include span-columns(6); }
    article { @include span-columns(6); }
  }
}

// ------------------------------------------------------------
// Section Gallery
// ------------------------------------------------------------
.gallery { 
  div {
    float:left;

    /* width of containing div */
    width:100%;
    @include media($medium-screen) {width:50%;}
    @include media($large-screen) {width:33.3%;}

    /* responsive image */
    img {
      float:left; 
      width:100%;
      height:auto;
    }
  }
}
