
// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
  @include clearfix;

  @include media($medium-screen) {
    border-bottom:none;
  }
  background-color: $white-smoke;
}

.site-main {
 //@include section_padding(2em);
}

.site-footer {
  @include section_padding(1em);
  border-top: 1px solid #eee;
}

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
  color: #006699;
}

// ------------------------------------------------------------
// SLideSho on click http://codepen.io/leemark/pen/Ddgsx
// ------------------------------------------------------------
.hero-slideshow {
  img {
    width: 100%;
    height: auto;
  }
  position: relative;
  display: block;
  max-height: 600px;
  overflow: hidden;
  p {
    margin: 10px 20px;
    color: #fff;
  }
  a {
   color:#fff;
 }
}
figure {
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
//  The problem was being caused by fractional widths. For example using 100% width
// https://css-tricks.com/forums/topic/css3-transition-opacity-causing-glitch-in-images/
-webkit-transform: translateZ(0);
width: calc(100% + .49px);
}
figcaption {
  position: absolute;
  @include media($medium-screen) {
    font-family: sans-serif;
    font-size: .8em;
    bottom: .75em;
    right: .35em;
    padding: .25em;
    color: #fff;
    background: rgba(0,0,0, .25);
    border-radius: 2px; 
    a { color: #fff;}
  }
}

figure.show {
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover {
  cursor: pointer;
  opacity: 1;
}
.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

// ------------------------------------------------------------
// Section style
// ------------------------------------------------------------
// Enter Neat
section {
  @include media($medium-screen) {
    @include outer-container;
    aside { @include span-columns(6); }
    article { @include span-columns(6); }
  }
}

// ------------------------------------------------------------
// Section Gallery
// ------------------------------------------------------------
/*
.gallery { 
  div {
    float:left;

   
    width:100%;
    @include media($medium-screen) {width:50%;}
    @include media($large-screen) {width:33.3%;}

    img {
      float:left; 
      width:100%;
      height:auto;
    }
  }
}
*/

// ------------------------------------------------------------
// Pannel
// ------------------------------------------------------------

.fb-panel {
  position: relative;
  display: block;
  max-height: 600px;
  overflow: hidden;
}

.fb-panel:hover .img-back-end-portfolio {
  transform: scale(1.03);
  -webkit-filter: brightness(30%);
}
.img-back-end-portfolio {
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  transition: all 300ms ease-out;
}
.div-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  padding-left: 15%;
  padding-right: 15%;
}
.div-caption h4 {
  position: relative; /* Needed for the jQuery animation */
  padding-bottom: 0.5em;
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  opacity: 0;
  transition: all 300ms ease-out 0ms; /* Needed for the jQuery animation  */
}
.div-caption p {
  position: relative; /* Needed for the jQuery animation */
  color: #ffffff;
  font-size: 3em;
  text-transform: uppercase;
  opacity: 0;
  transition: all 300ms ease-out 0ms; /* Needed for the jQuery animation */
}
// ------------------------------------------------------------
// http://codepen.io/juston/pen/aCDzr
// ------------------------------------------------------------
/*Eliminates padding, centers the thumbnail */

/* Styles the thumbnail */

a.lightbox img {
height: 150px;
width:150px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: 0;
left:0;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
 z-index: 99999;
}
// ------------------------------------------------------------
// Grid from refills http://refills.bourbon.io/
// ------------------------------------------------------------
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}
.grid-items {
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-colors:
    desaturate($action-color, 30%),
    #3581A5,
    #5FBEBE,
    #98C79A,
    #A7A891,
    #BDCC97,
    #979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 14em;

  @include clearfix;

  .grid-item {
    background: $grid-item-background;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    outline: none;
    overflow: hidden;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        box-shadow: inset 0 0 1px 2px darken($background-from-list, 10%);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          background-position: top;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
  }

  .grid-item-image {
    background: url("../images/glaarg_by_davesrightmind-d982qac.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image1 {
    background: url("../images/ord_teen_by_davesrightmind.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
