
// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
  @include clearfix;

  @include media($medium-screen) {
    border-bottom:none;
  }
  background-color: $white-smoke;
}

.site-main {
 //@include section_padding(2em);
}

.site-footer {
  @include section_padding(1em);
  border-top: 1px solid #eee;
}

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
  color: #006699;
}

// ------------------------------------------------------------
// SLideSho on click http://codepen.io/leemark/pen/Ddgsx
// ------------------------------------------------------------
.hero-slideshow {
  img {
    width: 100%;
    height: auto;
  }
  position: relative;
  display: block;
  max-height: 600px;
  overflow: hidden;
  p {
    margin: 10px 20px;
    color: #fff;
  }
  a {
   color:#fff;
 }
}
figure {
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
//  The problem was being caused by fractional widths. For example using 100% width
// https://css-tricks.com/forums/topic/css3-transition-opacity-causing-glitch-in-images/
-webkit-transform: translateZ(0);
width: calc(100% + .49px);
}
figcaption {
  position: absolute;
  @include media($medium-screen) {
    font-family: sans-serif;
    font-size: .8em;
    bottom: .75em;
    right: .35em;
    padding: .25em;
    color: #fff;
    background: rgba(0,0,0, .25);
    border-radius: 2px; 
    a { color: #fff;}
  }
}

figure.show {
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover {
  cursor: pointer;
  opacity: 1;
}
.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

// ------------------------------------------------------------
// Section style
// ------------------------------------------------------------
// Enter Neat
section {
  @include media($medium-screen) {
    @include outer-container;
    aside { @include span-columns(6); }
    article { @include span-columns(6); }
  }
}

// ------------------------------------------------------------
// Section Gallery
// ------------------------------------------------------------
.gallery { 
  div {
    float:left;

    /* width of containing div */
    width:100%;
    @include media($medium-screen) {width:50%;}
    @include media($large-screen) {width:33.3%;}

    /* responsive image */
    img {
      float:left; 
      width:100%;
      height:auto;
    }
  }
}


// ------------------------------------------------------------
// Pannel
// ------------------------------------------------------------

.fb-panel {

  position: relative;
  display: block;
  max-height: 600px;
  overflow: hidden;

}

.fb-panel:hover .img-back-end-portfolio {
  transform: scale(1.03);
  -webkit-filter: brightness(30%);
}
.img-back-end-portfolio {
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  transition: all 300ms ease-out;
}
.div-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  padding-left: 15%;
  padding-right: 15%;
}
.div-caption h4 {
  position: relative; /* Needed for the jQuery animation */
  padding-bottom: 0.5em;
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  opacity: 0;
  transition: all 300ms ease-out 0ms; /* Needed for the jQuery animation  */
}
.div-caption p {
  position: relative; /* Needed for the jQuery animation */
  color: #ffffff;
  font-size: 3em;
  text-transform: uppercase;
  opacity: 0;
  transition: all 300ms ease-out 0ms; /* Needed for the jQuery animation */
}
// ------------------------------------------------------------
// http://codepen.io/juston/pen/aCDzr
// ------------------------------------------------------------
* {
   padding:0;
    margin:0;
  color:white;
}
aside {
  width:((100% - (5 * 2%)) / 4);
  height:150px;
  overflow:hidden;
  float:left;
  margin:2% 2% 0 0;
  transition: all 0.3s;
  box-shadow:0 3px 8px rgba(0,0,0,0.5);
  &:nth-child(4n - 3) {
    margin-left:2%;
  }
  @media all and (max-width: 900px) {
    width:((100% - (5 * 2%)) / 3);
    &:nth-child(4n - 3) {
    margin-left:0;
    }
    &:nth-child(3n -2) {
    margin-left:2%;
    }
  }
  div, img {
     min-width:100%; 
    min-height:100%;
  }
}
aside:hover {
  transform:scale(1.1);
  box-shadow:0 12px 8px -5px rgba(0,0,0,0.3);
}
div {
  width:300px;
}
div:hover {
  cursor:pointer;
}
div img {
  width:100%;
}
div a, div span {
  display:none;
   opacity:0; 
}
section div {
  width:800px;
  position:absolute;
  left:50%;
  margin-left:-400px;
  top:0;
}
section {
  display:none;
  position:fixed;
  z-index:999;
  background-color:rgba(0,0,0,0.95);
  height:100%;
  width:100%;
  top:0;
  left:0;
}
section a {
  margin-bottom:10px;
  color:#ffffff; 
  background-color:rgba(0,0,0,0.5);
  text-decoration:none;
  position:absolute;
  padding:20px 15px;
  top:44%;
}
section div a, section div  span {
  display:inline;
  transition: all 0.35s;
}
section div:hover a, section div:hover span {
   opacity:1; 
}
section span {
  position:absolute;
  right:0;
  padding:20px;
}
.ex::before {
      opacity: 1;
      transform-origin:center;
      height: 2px; 
      width: 12px;
      content: '';
      background:white;
      left: 17px;
      top: 15px;
      position: absolute;
      transform: rotate(45deg);
  }
  .ex::after {
      opacity: 1;
      transform-origin:center;
      height: 12px; 
      width: 2px;
      content: '';
      background:white;
      left: 22px;
      top: 10px;
      position: absolute;
      transform: rotate(45deg);
 }
.r {
   right:0; 
}
.f {
   margin-bottom:30px;
}
p {
   text-align:center; 
}