---
title: Dave Melvin Art | About
---
<div class="container module">
  <div class="intro-about">
    <h1>About</h1>
<hr />
    <p style="font-size:1.2em;">
    Dave Melvin<br />
     <span style="font-size:14px">Concept Artist</span>
    </p>

    <p>
      I am currently a lead concept artist for a great little studio of seasoned professionals called <a href="http://www.virtualbasement.com/"" target="blank"> Virtual Basement </a>, committed to making games that are engaging, outrageously fun, and take you away another place like most games could only dream of. While the concepts you see here today are only a fraction of all of my work, the road leading up to this point has been a long and rewarding one.
    </p>
    <p>
    <em> A bit about me:</em>
        In the mid 90’s my first step into the real world was actually a giant leap into the United States Marine Corps. During that four years which ended with an honorable discharge, I managed to see at least half of the world, while maintaining a second job as a tattoo designer. I had always been an artist but that was my first experience as a freelancer, and my first foray into the realm of unique design which would actually be quite permanent. Afterwards it was on to school, where I earned a degree in the trade of practical effects for film and television.  It was also there that I made the acquaintance of my beautiful wife. After graduating with a 3.6 average and armed with a ton of new knowledge in making maquettes, models, sets, sculpting, rendering and quite a few other skills , I moved back to California  where I began my life as an educator in the field of Industrial Design, a position I still hold today 13 years later.
      </p>
      <p>
        I have been a professional freelance artist for the past 12 years as well working on everything including billboards, board games, book covers to RPGs and Video Games. Most of my work today is done digitally, but my roots are still founded in the traditional techniques, a trait I’m hoping you’ll see in my artwork. Concept Art and Illustration are my number one passion, in fact working is where you’ll usually find me, but I still find time to be a Dad, husband, and wrangler of two cats.</p>
        <p>
          Future conquests include:
          Having a dog; Continuing to push my own limits as designer; And contributing to perfecting the landscape of entertainment design.
          </p>
          <em>Thanks for stopping by!</em>

      </div>
      <hr />
      <section class="about_info">
        <aside><%= image_tag 'glaarg_by_davesrightmind-d982qac.jpg' %></aside>

        <blockquote>
          <strong>Oil Painting</strong><br>
          Watercolor<br>
          Airbrush<br>
          Pencil<br>
          Pen<br>
          Clay<br>
          <br>
          <strong>Software</strong><br>
          Adobe Photoshop<br>
          Adobe After Effects<br>
          Painter<br />
          Pixologic Zbrush<br>
          Sketchbook Pro<br>
        </blockquote>
      </section>
    </div>

