<div class="container module">
	<div class="intro-about">
		<h1>About</h1>
		<p><%= lorem.sentences 5 %></p>
	</div>
	<section class="about_info">
		<aside><%= image_tag 'glaarg_by_davesrightmind-d982qac.jpg' %></aside>
		<article>
			<blockquote>
				<strong>Oil Painting</strong>
				Watercolor<br>
				Airbrush<br>
				Pencil<br>
				Pen<br>
				Clay<br>
				</blockquote>
				<blockquote>
				<strong>Software</strong>
				Adobe Photoshop<br>
				Adobe After Effects<br>
				Luxology Modo<br>
				Pixologic Zbrush<br>
				Luxion Keyshot<br>
			</blockquote>
		</article>
	</section>
	<div>
		<p><a href="#">E-Mail</a> / <a href="#" target="_blank">Facebook</a> / <a href="#" target="_blank">Twitter</a></p>
	</div>
</div>
