---
title: Dave Melvin Art | Blog
---
<div class="container">
  <div class="blog-intro">
    <h1>Latest Work</h1>
  </div>
  <hr />

  <div class="blog-entries">
    <% by_tag_formatted('blog').each do |item| %>
    <div class="blog-post">
      <h1><%= link_to item[:title],item[:relative_url], length: 3  %></h1>
     <!-- <%= item[:body] %> -->
      <%= image_tag item[:image_url], class: 'blog-image' unless item[:image_url].nil? %>
    </div>
    <% end %>
  </div>
</div>
