---
title: Dave Melvin Art | Concept Art
---
<div class="container">

  <h1>Concept Art</h1>
  <hr />
  <div class="popup-gallery layout-gallery container-wrapper">
    <!-- other anchors 1 here  ... -->
    <a href="../assets/images/concept_art/character_one.jpg" title="Character One">
      <figure>
        <img src="../assets/images/concept_art/character_one.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 2 here ... -->
    <a href="../assets/images/concept_art/orgamech.jpg" title="Orgamech">
      <figure>
        <img src="../assets/images/concept_art/orgamech.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 3 here ... -->
    <a href="../assets/images/concept_art/rock_golem.jpg" title="Rock Golem">
      <figure>
        <img src="../assets/images/concept_art/rock_golem.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 4 here ... -->
    <a href="../assets/images/concept_art/cyclops_and_bridge.jpg" title="Cyclops and Bridge">
      <figure>
        <img src="../assets/images/concept_art/cyclops_and_bridge.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 5 here  ... -->
    <a href="../assets/images/concept_art/hyena_master.jpg" title="Hyena Master">
      <figure>
        <img src="../assets/images/concept_art/hyena_master.jpg" width="400" height="auto">
      </figure>
    </a>

    <!-- other anchors 6 here  ... -->
    <a href="../assets/images/concept_art/goblin_gunslinger.jpg" title="Goblin Gunslinger">
      <figure>
        <img src="../assets/images/concept_art/goblin_gunslinger.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 7 here  ... -->
    <a href="../assets/images/concept_art/metal_jaw.jpg" title="Metal Jaw">
      <figure>
        <img src="../assets/images/concept_art/metal_jaw.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 8 here  ... -->
    <a href="../assets/images/concept_art/bugs.jpg" title="Bugs">
      <figure>
        <img src="../assets/images/concept_art/bugs.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 9 here  ... -->
    <a href="../assets/images/concept_art/arthro.jpg" title="Arthro">
      <figure>
        <img src="../assets/images/concept_art/arthro.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 10 here  ... -->
    <a href="../assets/images/concept_art/bary.jpg" title="Bary">
      <figure>
        <img src="../assets/images/concept_art/bary.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 11 here  ... -->
    <a href="../assets/images/concept_art/red.jpg" title="Red">
      <figure>
        <img src="../assets/images/concept_art/red.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 12 here  ... -->
    <a href="../assets/images/concept_art/battle_arena.jpg" title="Battle Arena">
      <figure>
        <img src="../assets/images/concept_art/battle_arena.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 13 here  ... -->
    <a href="../assets/images/concept_art/worlds_one.jpg" title="Worlds One">
      <figure>
        <img src="../assets/images/concept_art/worlds_one.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 14 here  ... -->
    <a href="../assets/images/concept_art/worlds_two.jpg" title="Worlds Two">
      <figure>
        <img src="../assets/images/concept_art/worlds_two.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 15 here  ... -->
   <a href="../assets/images/concept_art/weapons.jpg" title="Weapons">
      <figure>
        <img src="../assets/images/concept_art/weapons.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 16 here  ... -->
    <a href="../assets/images/concept_art/props.jpg" title="Props">
      <figure>
        <img src="../assets/images/concept_art/props.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 17 here  ... -->
    <a href="../assets/images/concept_art/vehicles.jpg" title="Vehicles">
      <figure>
        <img src="../assets/images/concept_art/vehicles.jpg" width="400" height="auto">
      </figure>
    </a>
    <!-- other anchors 18 here  ... -->
    <a href="../assets/images/concept_art/logos.jpg" title="Logos">
      <figure>
        <img src="../assets/images/concept_art/logos.jpg" width="400" height="auto">
      </figure>
    </a>
  </div>
</div>
