<div class="container module">
<div>
	<h1>Contact</h1>
	
</div>
<hr>
<section class="contact_info">
  <aside>
  <h2>Don't hesitate to reach out!</h2>
  	<p>
  		If you have any questions, suggestions or would like to work with me feel free to drop me a message! I'm available for freelance work and always looking forward for new challenges.
  	</p>
  </aside>
  <article>
  	
		<div class="contact-form">
			<fieldset>
					
				<form action="" method="post">
					<h2>Request More Information</h2>
					<p>
						Use this form to contact us for more information about our company, products, or services.
					</p>
					<div>
						<label for="text_field">Name:</label>
						<input type="text" id="text_field">
					</div>
					<div>
						<label for="text_field">Email Address:</label>
						<input type="text" id="text_field">
					</div>
					<div>
						<label for="text_field">Phone Number:</label>
						<input type="text" id="text_field">
					</div>
					<div>
						<label for="msg">Message:</label>
						<textarea id="msg"></textarea>
					</div>
					<div>
						<input type="submit" value="Submit">
					</div>
				</form>
			</fieldset>
		</div><!-- end of form contact -->
	</div><!-- end of contact-section -->


  </article>
</section>
</div>
