---
title: Dave Melvin Art | Contact
---

<div class="container module">
	<div>
		<h1>Contact</h1>

	</div>
	<hr>
	<section class="contact_info">
		<aside>
			<h2>Don't hesitate to reach out!</h2>
			<blockquote>
				I love designing complete worlds. Even though my speciality is working on interesting Creatures and Characters, whether organic or mechanical.
			</blockquote>
		</aside>
		<article>
<!--
<div class="contact-form">
<fieldset>

<form action="" method="post">
<h2>CONTACT</h2>
<p>
If you have any questions, suggestions or would like to work with me feel free to drop me a message! I'm available for freelance work and always looking forward for new challenges.
</p>
<div>
<label for="text_field">Name:</label>
<input type="text" id="text_field">
</div>
<div>
<label for="text_field">Email Address:</label>
<input type="text" id="text_field">
</div>
<div>
<label for="text_field">Phone Number:</label>
<input type="text" id="text_field">
</div>
<div>
<label for="msg">Message:</label>
<textarea id="msg"></textarea>
</div>
<div>
<input type="submit" value="Submit">
</div>
</form>
</fieldset>
</div>  end of form contact -->
<div id="wufoo-z1y10pvo0fu0riq">
	Fill out my <a href="https://kikluz.wufoo.com/forms/z1y10pvo0fu0riq">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
<script type="text/javascript">var z1y10pvo0fu0riq;(function(d, t) {
	var s = d.createElement(t), options = {
		'userName':'kikluz',
		'formHash':'z1y10pvo0fu0riq',
		'autoResize':true,
		'height':'554',
		'async':true,
		'host':'wufoo.com',
		'header':'show',
		'ssl':true};
		s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
		s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { z1y10pvo0fu0riq = new WufooForm();z1y10pvo0fu0riq.initialize(options);z1y10pvo0fu0riq.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
		})(document, 'script');</script>

	</article>
</section>
</div>
