---
title: Dave Melvin Art | Contact
---

<div class="container module">
  <div>
    <h1>Contact</h1>

  </div>
  <hr>
  <section class="contact_info">
    <aside>
      <h2>
        Please feel free to contact me regarding future projects, I look forward to hearing from you.
      </h2>
      <a href="mailto:scorge40@gmail.com" lass="social email" target="_top">
        scorge40@gmail.com
      </a>
      <br />
      <a href="tel:5107258426">510-725-8426</a>
    </aside>
    <article>
    <%= image_tag '../concept_art/P_Arthropluera.jpg' %>
    </article>
  </section>
</div>
