---
title: Dave Melvin Art | Contact
---
<section class="hero">
	<section class="container1">
		<h1>Contact Me</h1>
		<h2>Don't hesitate to reach out!</h2>
			<blockquote>
				I love designing complete worlds. Even though my speciality is working on interesting Creatures and Characters, whether organic or mechanical.
			</blockquote>
	</section>
</section>

<div class="container module">
	
	<section class="contact_info">
		<aside>
			
		</aside>
		<article>
			<h2>DAVE MELVIN ART</h2>
			<p>
				<a href="tel:5107258426">Tel: <em>510-725-8426</em></a>
			</p>
			<p>
				<a href="mailto:scorge40@gmail.com">Mail: <em>scorge40@gmail.com</em></a>
			</p>
		</article>
	</section>
</div>

