---
title: Dave Melvin Art | Contact
---

<div class="container module">
	<div>
		<h1>Contact</h1>

			<p>
			<em>Don't hesitate to reach out!</em><br />
				I love designing complete worlds. Even though my speciality is working on interesting Creatures and Characters, whether organic or mechanical.
			</p>
	</div>
	<hr>
	<section class="contact_info">

		<aside>
			<%= image_tag 'ventaurion3_by_davesrightmind-d9pfauw.jpg' %>
		</aside>
		<article>
			<a href="mailto:scorge40@gmail.com">
				<i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> scorge40@gmail.com
			</a>
			<br/>
			<a href="tel:510-725-8426">
				<i class="fa fa-phone-square fa-2x" aria-hidden="true"></i> 510-725-8426
			</a>
			<br/>
			
	</article>
</section>
</div>
