---
title: Davesrightmind | Gallery
---

<aside><div>
  <span onclick="xit()" class="ex"></span>
  <img src="http://filmcrithulk.files.wordpress.com/2011/06/35416186_3b669524a5_o.jpg" onclick="image(0)">
  <a href="#" onclick="image(0)" class="r">&#187;</a>
  <p>1 / 8</p>
</div></aside>

<aside><div>
  <span onclick="xit()" class="ex"></span>
  <img src="http://www.modernmythmedia.com/wp-content/uploads/2013/04/Iron-Man-wallpaper-2-2032-e1367196003357.jpg" onclick="image(1)">
  <a href="#" onclick="prev(0)">&#171;</a>
  <a href="#" onclick="image(1)" class="r">&#187;</a>
  <p>2 / 8</p>
</div></aside>

<aside><div>
  <span onclick="xit()" class="ex"></span>
  <img src="http://media.dcentertainment.com/sites/default/files/character_bio_576_superman_0.jpg" onclick="image(2)">
  <a href="#" onclick="prev(1)">&#171;</a>
  <a href="#" onclick="image(2)" class="r">&#187;</a>
  <p>3 / 8</p>
</div></aside>

<aside><div>
  <span onclick="xit()" class="ex"></span>
  <img src="http://static.comicvine.com/uploads/original/4/49376/3482829-5416486156-green.jpg" onclick="image(3)">
  <a href="#" onclick="prev(2)">&#171;</a>
  <a href="#" onclick="image(3)" class="r">&#187;</a>
  <p>4 / 8</p>
  </div></aside>

<aside><div>
  <span onclick="xit()" class="ex"></span>
  <img src="http://static.comicvine.com/uploads/original/0/40/3207042-batman_arkham_origins-wide.jpg" onclick="image(4)">
  <a href="#" onclick="prev(3)">&#171;</a>
  <a href="#" onclick="image(4)" class="r">&#187;</a>
  <p>5 / 8</p>
  </div></aside>

<aside><div>
  <span onclick="xit()" class="ex"></span>
  <img src="http://fc09.deviantart.net/fs70/i/2013/160/f/e/168_martian_manhunter_by_colouronly85-d68faw4.jpg" onclick="image(5)">
  <a href="#" onclick="prev(4)">&#171;</a>
  <a href="#" onclick="image(5)" class="r">&#187;</a>
  <p>6 / 8</p>
  </div></aside>

<aside><div>
  <span onclick="xit()" class="ex"></span>
  <img src="http://foreignpolicyblogs.com/wp-content/uploads/Captain-America-Wallpaper-HD-e1353425843775.jpg" onclick="image(6)">
  <a href="#" onclick="prev(5)">&#171;</a>
  <a href="#" onclick="image(6)" class="r">&#187;</a>
  <p>7 / 8</p>
  </div></aside>

<aside><div>
  <span onclick="xit()" class="ex"></span>
  <img src="http://static.comicvine.com/uploads/original/12/123441/3002319-flash-the-rebirth-dc-comics-5286848-1280-1024.jpg" onclick="image(7)">
  <a href="#" onclick="prev(6)">&#171;</a>
  <p>8 / 8</p>
  </div></aside>

<section id="fire"></section>